.header {
Width: 100%;
background-color:#dcdcdc;
}
.signup {
float: right;
}


#outer{
    height: 80%;
    width:100%;
   
}

.container{
    display: flex;
}
#inner{
    height:80%;
    float:  left;
width:33%;
margin: auto;
   
    width:30%;
}
#first{
    height:90%;
    width:30%;
}

img{
    width:50%;
}

label {
color:black;
font-weight: bold;
}
span {
color: blue;
text-decoration: underline;
}
p{
    color: gray;
}
.topnav {
overflow: hidden;
background-color: #edebeb;
text-decoration: none;
}
.topnav a {
float: left;
display: block;
color:black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.topnav a:hover {
background-color: #ddd;
color: black;
}
.button {
color: white;
background-color: rgb(0, 119, 255);
padding: 5px;
border-radius: 5px;
float: right;
}